		<div class="section_footer">
			<div class="footer_pattern w-embed"><?xml version="1.0" encoding="UTF-8"?>
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
					 viewBox="0 0 992 219">
					<defs>
						<style>
							.footer_pattern-cls-1 {
								fill: url(#linear-gradient-11);
							}

							.footer_pattern-cls-1, .footer_pattern-cls-2, .footer_pattern-cls-3, .footer_pattern-cls-4, .footer_pattern-cls-5, .footer_pattern-cls-6, .footer_pattern-cls-7, .footer_pattern-cls-8, .footer_pattern-cls-9, .footer_pattern-cls-10, .footer_pattern-cls-11, .footer_pattern-cls-12, .footer_pattern-cls-13, .footer_pattern-primary, .footer_pattern-dark, .footer_pattern-cls-16 {
								stroke-width: 0px;
							}

							.footer_pattern-cls-1, .footer_pattern-cls-2, .footer_pattern-cls-3, .footer_pattern-cls-4, .footer_pattern-cls-5, .footer_pattern-cls-6, .footer_pattern-cls-7, .footer_pattern-cls-8, .footer_pattern-cls-9, .footer_pattern-cls-10, .footer_pattern-cls-11, .footer_pattern-cls-16 {
								mix-blend-mode: multiply;
								opacity: .5;
							}

							.footer_pattern-cls-1, .footer_pattern-cls-2, .footer_pattern-cls-3, .footer_pattern-cls-4, .footer_pattern-cls-5, .footer_pattern-cls-6, .footer_pattern-cls-7, .footer_pattern-cls-8, .footer_pattern-cls-9, .footer_pattern-cls-10, .footer_pattern-cls-11, .footer_pattern-cls-16, .footer_pattern-cls-17 {
								isolation: isolate;
							}

							.footer_pattern-cls-2 {
								fill: url(#linear-gradient-12);
							}

							.footer_pattern-cls-3 {
								fill: url(#linear-gradient-10);
							}

							.footer_pattern-cls-4 {
								fill: url(#linear-gradient-2);
							}

							.footer_pattern-cls-5 {
								fill: url(#linear-gradient-4);
							}

							.footer_pattern-cls-6 {
								fill: url(#linear-gradient-7);
							}

							.footer_pattern-cls-7 {
								fill: url(#linear-gradient-5);
							}

							.footer_pattern-cls-8 {
								fill: url(#linear-gradient-6);
							}

							.footer_pattern-cls-9 {
								fill: url(#linear-gradient-3);
							}

							.footer_pattern-cls-10 {
								fill: url(#linear-gradient-9);
							}

							.footer_pattern-cls-11 {
								fill: url(#linear-gradient-8);
							}

							.footer_pattern-cls-12 {
								fill: #fff;
								opacity: .1;
							}

							.footer_pattern-primary {
								fill: var(--primary);
							}

							.footer_pattern-dark {
								fill: var(--dark);
							}

							.footer_pattern-cls-16 {
								fill: url(#linear-gradient);
							}
						</style>
						<linearGradient id="linear-gradient" x1="531.6" y1="119.9" x2="572.6" y2="67.6"
										gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#001e30"/>
							<stop offset=".4" stop-color="#fff"/>
						</linearGradient>
						<linearGradient id="linear-gradient-2" x1="953" y1="105.6" x2="994.1" y2="53.3"
										gradientTransform="translate(1940 180) rotate(-180)"
										xlink:href="#linear-gradient"/>
						<linearGradient id="linear-gradient-3" x1="954.5" y1="59" x2="1006" y2="59"
										xlink:href="#linear-gradient"/>
						<linearGradient id="linear-gradient-4" x1="123.4" y1="139.1" x2="164.4" y2="86.8"
										xlink:href="#linear-gradient"/>
						<linearGradient id="linear-gradient-5" x1="289.5" y1="134.6" x2="334.1" y2="177.8"
										xlink:href="#linear-gradient"/>
						<linearGradient id="linear-gradient-6" x1="587.6" y1="154.6" x2="624.4" y2="154.3"
										xlink:href="#linear-gradient"/>
						<linearGradient id="linear-gradient-7" x1="722.7" y1="136.2" x2="759.4" y2="135.8"
										gradientTransform="translate(1469.2 271.6) rotate(-180)"
										xlink:href="#linear-gradient"/>
						<linearGradient id="linear-gradient-8" x1="587.6" y1="116.1" x2="624.4" y2="115.7"
										xlink:href="#linear-gradient"/>
						<linearGradient id="linear-gradient-9" x1="556.3" y1="96.9" x2="593" y2="96.5"
										xlink:href="#linear-gradient"/>
						<linearGradient id="linear-gradient-10" x1="525.1" y1="154.8" x2="561.9" y2="154.4"
										xlink:href="#linear-gradient"/>
						<linearGradient id="linear-gradient-11" x1="152.5" y1="154.6" x2="104.4" y2="154.6"
										xlink:href="#linear-gradient"/>
						<linearGradient id="linear-gradient-12" x1="35.9" y1="70.2" x2="-12.2" y2="70.2"
										xlink:href="#linear-gradient"/>
					</defs>
					<g class="footer_pattern-cls-17">
						<g id="white">
							<path class="footer_pattern-dark"
								  d="M960.8,115.7v39.4l-31.2-19.4,8.9-10c1.2-2.8,2.9-6.6,4.4-10h-13.2l-31.2,19.4-31.2-19.4h0,0s-15.7-9.8-15.7-9.8l-15.7,9.8h0s0,0,0,0l-14.1,8.8-14.1-8.8h-.1,0s-31.2-19.4-31.2-19.4l-31.2,19.4h0s0,0,0,0l-31.2,19.4-31.2-19.4h0l-31.2,19.4-31.2-19.4v38.7h-62.5l-62.4-38.7h0,0s-20.7-12.8-20.7-12.8l-20.7,12.8h0s0,0,0,0l-20.6,12.8-20.6-12.8h-.2l-18.2,11.3-18.2-11.3h-.2l-31.2,19.4-31.2-19.4h0l-14.6,9-14.6-9h0l-31.2,19.4-31.2-19.4h0l-20.6,12.8-20.6-12.8-19.2,4-12.1,15.3-22.7-14.1-12.1,7.5-20.6-12.8h0l-31.2,19.4v.5l-.4-.3.4-.3-31.2-19.4h0v38.7l-31-.2v64h992v-102.6h-31.2,0ZM33.8,177.8l-10.9-6.7,10.9-6.7v13.5ZM62.1,179.6l-24.6,15.3v-30.5l24.6,15.3h0ZM62.2,173.8l-30.8-19.1,30.8-19.1v38.2Z"/>
						</g>
						<g id="blue">
							<path class="footer_pattern-dark" d="M34.8,90l17-10.5-17-10.5v21.1Z"/>
							<path class="footer_pattern-dark" d="M187.6,154.7l25-15.5-25-15.5v30.9Z"/>
							<path class="footer_pattern-dark" d="M153.2,174.2h0s17-10.5,17-10.5l-17-10.5v21.1Z"/>
							<path class="footer_pattern-dark" d="M250.9,132.4l17-10.5-17-10.5v21.1Z"/>
							<path class="footer_pattern-dark"
								  d="M118.4,154.6h0v-38.6h0s-31.2,19.3-31.2,19.3l31.2,19.3"/>
							<path class="footer_pattern-dark" d="M33,72.7h0s0,0,0,0Z"/>
							<path class="footer_pattern-dark" d="M92.8,108.9h0v-38.6h0l-31.2,19.3,31.2,19.3"/>
							<path class="footer_pattern-dark" d="M522.8,152.4l-17.2,10.7,17.2,10.7v-21.3Z"/>
							<path class="footer_pattern-dark" d="M960.8,39.6l-31.2,19.3,31.2,19.3v-38.6Z"/>
							<path class="footer_pattern-dark" d="M580.3,91.3l8.7,5.4v-38.6l-31.2,19.3,22.5,13.9Z"/>
							<path class="footer_pattern-dark"
								  d="M557.8,77.4h0s-31.2,19.3-31.2,19.3l31.2,19.3h0s0,0,0,0h0s25.5-15.7,25.5-15.7l5.7-3.5v38.6l-31.2,19.3,31.2,19.3h0s0,0,0,0l31.2,19.3v-38.6h0s0,0,0,0l-31.2-19.3,31.2-19.3-31.2-19.3h0s0,0,0,0h0s-8.7-5.4-8.7-5.4l-22.5-13.9Z"/>
							<path class="footer_pattern-dark" d="M939.5,191h0s18.1-11.2,18.1-11.2l-18.1-11.2v22.3Z"/>
							<path class="footer_pattern-dark" d="M560.1,55.9l-10.8,6.7,10.8,6.7v-13.4Z"/>
							<path class="footer_pattern-dark" d="M922.8,116.2l-17,10.5,17,10.5v-21.1Z"/>
							<path class="footer_pattern-dark"
								  d="M960.8,116.7h0s-31.2-19.3-31.2-19.3h0v38.6h0l31.2-19.3-31.2-19.3"/>
							<path class="footer_pattern-dark" d="M493.1,120l18.1-11.2-18.1-11.2v22.3Z"/>
							<path class="footer_pattern-dark" d="M864.7,44.9l-18.1-11.2,18.1-11.2v22.3Z"/>
							<path class="footer_pattern-dark" d="M830.8,113l-25,15.5,25,15.5v-30.9Z"/>
							<path class="footer_pattern-dark" d="M315.7,174.2l31.2-19.3-31.2-19.3v38.6Z"/>
							<path class="footer_pattern-dark" d="M777.8,124.1l14.1-8.7-14.1-8.7v17.4Z"/>
							<path class="footer_pattern-dark" d="M748.3,154.5l17-10.5-17-10.5v21.1Z"/>
							<path class="footer_pattern-dark" d="M713.9,135.3h0v-38.6h0l-31.2,19.3,31.2,19.3"/>
							<path class="footer_pattern-dark" d="M745,154.5h0v-38.6h0l-31.2,19.3,31.2,19.3"/>
							<path class="footer_pattern-dark" d="M180.8,116.3h0s0,0,0,0h0Z"/>
							<path class="footer_pattern-dark"
								  d="M589,212.5h0s31.2-19.3,31.2-19.3h0s-31.2-19.3-31.2-19.3h0v38.6Z"/>
							<path class="footer_pattern-dark" d="M557.8,116h0s-31.2-19.3-31.2-19.3v38.6l31.2-19.3Z"/>
							<path class="footer_pattern-dark" d="M620.2,116h0s0,0,0,0h0Z"/>
							<path class="footer_pattern-dark" d="M620.2,193.2h0s0,0,0,0h0Z"/>
							<path class="footer_pattern-dark" d="M589,212.5h0,0s0,0,0,0Z"/>
							<path class="footer_pattern-dark" d="M589,58.1h0s0,0,0,0Z"/>
							<path class="footer_pattern-dark"
								  d="M960.8,78.2v38.6h0s31.2-19.3,31.2-19.3h0s-31.2-19.3-31.2-19.3h0Z"/>
							<path class="footer_pattern-dark" d="M744.8,115.4h0s0,0,0,0h0Z"/>
							<path class="footer_pattern-dark" d="M31,154.7L0,135.2v39l31-19.5Z"/>
							<path class="footer_pattern-dark" d="M32.9,51.1l-5.7,3.5L1.7,70.4l31.2,19.3v-38.6Z"/>
							<path class="footer_pattern-dark" d="M149.5,96.8l-31.2-19.3v38.6l31.2-19.3Z"/>
							<path class="footer_pattern-dark" d="M118.5,154.5l31.2,19.3v-38.6s-31.2,19.3-31.2,19.3Z"/>
							<path class="footer_pattern-dark" d="M407.5,135.4l-31.2-19.3v38.6l31.2-19.3Z"/>
							<path class="footer_pattern-dark" d="M661.5,122v-17.2l-13.9,8.6,13.9,8.6Z"/>
							<path class="footer_pattern-dark" d="M960.8,116.8l31.2,19.3v-38.6l-31.2,19.3Z"/>
							<path class="footer_pattern-dark" d="M992,58.9h0s-31.2-19.3-31.2-19.3v38.6l31.2-19.3Z"/>
						</g>
						<g id="green">
							<path class="footer_pattern-primary" d="M149.6,135.3l-31.2-19.3v38.6l31.2-19.3Z"/>
							<path class="footer_pattern-primary" d="M180.8,116l-31.2-19.3v38.6l31.2-19.3Z"/>
							<path class="footer_pattern-primary" d="M651.4,135.3l-31.2-19.3v38.6l31.2-19.3Z"/>
							<path class="footer_pattern-primary" d="M209.4,155.8h0s9.5-5.8,9.5-5.8l-9.5-5.8v11.7Z"/>
							<path class="footer_pattern-primary" d="M304.2,99.9l9.5-5.8-9.5-5.8v11.7Z"/>
							<path class="footer_pattern-primary" d="M146.8,177.4l-24.6-15.2v30.4l24.6-15.2Z"/>
							<path class="footer_pattern-primary" d="M92.6,114.8l-24.6-15.2h0v30.4l24.6-15.2Z"/>
							<path class="footer_pattern-primary" d="M61.6,96.6l-9.4-5.8v11.6l9.4-5.8Z"/>
							<path class="footer_pattern-primary"
								  d="M562.8,38.9v30.4h0s24.6-15.2,24.6-15.2h0s-24.6-15.2-24.6-15.2Z"/>
							<path class="footer_pattern-primary" d="M557.8,154.6l31.2-19.3-31.2-19.3v38.6Z"/>
							<path class="footer_pattern-primary" d="M960.8,78.2l31.2,19.3v-38.6l-31.2,19.3Z"/>
							<path class="footer_pattern-primary" d="M851.7,116.9l31.2,19.3v-38.6l-31.2,19.3Z"/>
							<path class="footer_pattern-primary" d="M929.6,97.6l31.2,19.3h0v-38.6l-31.2,19.3Z"/>
							<path class="footer_pattern-primary" d="M936.9,165.3l-31.2-19.3h0s0,0,0,0v38.6l31.2-19.3Z"/>
							<path class="footer_pattern-primary" d="M475.8,120.7l-31.2-19.3h0v38.6l31.2-19.3Z"/>
							<path class="footer_pattern-primary" d="M867.2,19.3L898.4,0h0v38.6l-31.2-19.3Z"/>
							<path class="footer_pattern-primary" d="M809,111.9l-9.5,5.8,9.5,5.8v-11.7Z"/>
							<path class="footer_pattern-primary" d="M284.5,154.9l31.2-19.3-31.2-19.3v38.6Z"/>
							<path class="footer_pattern-primary" d="M745.1,116l-31.2-19.3v38.6l31.2-19.3Z"/>
							<path class="footer_pattern-primary" d="M776.3,96.7l-31.2-19.3v38.6l31.2-19.3Z"/>
							<path class="footer_pattern-primary" d="M742.3,158l-24.6-15.2h0v30.4l24.6-15.2Z"/>
							<path class="footer_pattern-primary" d="M707.8,135.8l-9.4-5.8v11.6l9.4-5.8Z"/>
							<path class="footer_pattern-primary" d="M842.4,118.3l-9.4-5.8v11.6l9.4-5.8Z"/>
							<path class="footer_pattern-primary" d="M28.4,93l-24.6-15.2h0s0,0,0,0v30.4l24.6-15.2Z"/>
							<path class="footer_pattern-primary"
								  d="M315.7,97l-31.2,19.3h0s31.2,19.3,31.2,19.3h0v-38.6h0Z"/>
							<path class="footer_pattern-primary"
								  d="M315.8,135.6l-31.2,19.3h0s31.2,19.3,31.2,19.3h0v-38.6h0Z"/>
							<path class="footer_pattern-primary" d="M898.4,78.2l31.2,19.3h0v-38.6l-31.2,19.3Z"/>
							<path class="footer_pattern-primary"
								  d="M526.6,173.9l31.2-19.3h0s-31.2-19.3-31.2-19.3v38.6Z"/>
							<path class="footer_pattern-primary" d="M566.5,82.8l-8.7-5.4v38.6l31.2-19.3-22.5-13.9Z"/>
						</g>
						<g id="lighten_blue" data-name="lighten blue">
							<path class="footer_pattern-cls-12" d="M34.8,90l17-10.5-17-10.5v21.1Z"/>
							<path class="footer_pattern-cls-12" d="M187.6,154.7l25-15.5-25-15.5v30.9Z"/>
							<path class="footer_pattern-cls-12" d="M153.2,174.2h0s17-10.5,17-10.5l-17-10.5v21.1Z"/>
							<path class="footer_pattern-cls-12" d="M250.9,132.4l17-10.5-17-10.5v21.1Z"/>
							<path class="footer_pattern-cls-12"
								  d="M118.4,154.6h0v-38.6h0s-31.2,19.3-31.2,19.3l31.2,19.3"/>
							<path class="footer_pattern-cls-12" d="M33,72.7h0s0,0,0,0Z"/>
							<path class="footer_pattern-cls-12" d="M92.8,108.9h0v-38.6h0l-31.2,19.3,31.2,19.3"/>
							<path class="footer_pattern-cls-12" d="M522.8,152.4l-17.2,10.7,17.2,10.7v-21.3Z"/>
							<path class="footer_pattern-cls-12" d="M960.8,39.6l-31.2,19.3,31.2,19.3v-38.6Z"/>
							<path class="footer_pattern-cls-12" d="M580.3,91.3l8.7,5.4v-38.6l-31.2,19.3,22.5,13.9Z"/>
							<path class="footer_pattern-cls-12"
								  d="M557.8,77.4h0s-31.2,19.3-31.2,19.3l31.2,19.3h0s0,0,0,0h0s25.5-15.7,25.5-15.7l5.7-3.5v38.6l-31.2,19.3,31.2,19.3h0s0,0,0,0l31.2,19.3v-38.6h0s0,0,0,0l-31.2-19.3,31.2-19.3-31.2-19.3h0s0,0,0,0h0s-8.7-5.4-8.7-5.4l-22.5-13.9Z"/>
							<path class="footer_pattern-cls-12" d="M939.5,191h0s18.1-11.2,18.1-11.2l-18.1-11.2v22.3Z"/>
							<path class="footer_pattern-cls-12" d="M560.1,55.9l-10.8,6.7,10.8,6.7v-13.4Z"/>
							<path class="footer_pattern-cls-12" d="M922.8,116.2l-17,10.5,17,10.5v-21.1Z"/>
							<path class="footer_pattern-cls-12"
								  d="M960.8,116.7h0s-31.2-19.3-31.2-19.3h0v38.6h0l31.2-19.3-31.2-19.3"/>
							<path class="footer_pattern-cls-12" d="M493.1,120l18.1-11.2-18.1-11.2v22.3Z"/>
							<path class="footer_pattern-cls-12" d="M864.7,44.9l-18.1-11.2,18.1-11.2v22.3Z"/>
							<path class="footer_pattern-cls-12" d="M830.8,113l-25,15.5,25,15.5v-30.9Z"/>
							<path class="footer_pattern-cls-12" d="M315.7,174.2l31.2-19.3-31.2-19.3v38.6Z"/>
							<path class="footer_pattern-cls-12" d="M777.8,124.1l14.1-8.7-14.1-8.7v17.4Z"/>
							<path class="footer_pattern-cls-12" d="M748.3,154.5l17-10.5-17-10.5v21.1Z"/>
							<path class="footer_pattern-cls-12" d="M713.9,135.3h0v-38.6h0l-31.2,19.3,31.2,19.3"/>
						</g>
						<g id="darken">
							<path class="footer_pattern-cls-16" d="M557.8,77.4l-5.7,3.5-25.5,15.8,31.2,19.3v-38.6Z"/>
							<path class="footer_pattern-cls-4" d="M960.7,116.8l5.7-3.5,25.5-15.8-31.2-19.3v38.6Z"/>
							<path class="footer_pattern-cls-9" d="M960.7,78.3l5.7-3.5,25.5-15.8-31.2-19.3v38.6Z"/>
							<path class="footer_pattern-cls-5" d="M149.6,96.7l-5.7,3.5-25.5,15.8,31.2,19.3v-38.6Z"/>
							<path class="footer_pattern-cls-7" d="M316,135.5l-5.7,3.5-25.5,15.8,31.2,19.3v-38.6Z"/>
							<path class="footer_pattern-cls-8" d="M589.1,173.9l5.7-3.5,25.5-15.8-31.2-19.3v38.6Z"/>
							<path class="footer_pattern-cls-6" d="M745.1,116.2l-5.7,3.5-25.5,15.8,31.2,19.3v-38.6Z"/>
							<path class="footer_pattern-cls-11" d="M589.1,135.4l5.7-3.5,25.5-15.8-31.2-19.3v38.6Z"/>
							<path class="footer_pattern-cls-10" d="M557.7,116.1l5.7-3.5,25.5-15.8-31.2-19.3v38.6Z"/>
							<path class="footer_pattern-cls-3" d="M526.6,174.1l5.7-3.5,25.5-15.8-31.2-19.3v38.6Z"/>
							<path class="footer_pattern-cls-1" d="M149.6,135.3l-5.7,3.5-25.5,15.8,31.2,19.3v-38.6Z"/>
							<path class="footer_pattern-cls-2" d="M33,50.9l-5.7,3.5L1.8,70.2l31.2,19.3v-38.6Z"/>
						</g>
					</g>
				</svg>
			</div>
			<div class="footer_lower-wrapper">
				<div class="padding-global">
					<div class="container-large">
						<div class="padding-section-medium">
							<div class="footer_grid"><img
									src="https://cdn.prod.website-files.com/6535c13fdfd7d23795b06177/65370501a07d7473fab98030_logo-white.svg"
									loading="lazy" alt=""/>
								<div id="w-node-_8a02f448-2b9e-2771-9471-6b9271af0b12-907f05ca"
									 class="footer_social-wrapper"><a
										id="w-node-eac99709-6b8c-57f6-56a5-34b459c710ae-907f05ca"
										href="https://www.instagram.com/teachersbuddy/" target="_blank"
										class="w-inline-block"><img
										src="https://cdn.prod.website-files.com/6535c13fdfd7d23795b06177/65a475d0c64d1938803dd370_instagram.svg"
										loading="lazy" alt="" class="footer_icon"/></a><a
										href="https://www.facebook.com/teachersbuddyai/" target="_blank"
										class="w-inline-block"><img
										src="https://cdn.prod.website-files.com/6535c13fdfd7d23795b06177/65a475cfb60ce8ccb4a9af30_facebook.svg"
										loading="lazy" alt="" class="footer_icon"/></a><a
										href="https://www.linkedin.com/company/teachersbuddy/" target="_blank"
										class="w-inline-block"><img
										src="https://cdn.prod.website-files.com/6535c13fdfd7d23795b06177/65a475cfbe5dd773ef331aaf_linkedin.svg"
										loading="lazy" alt="" class="footer_icon"/></a><a
										id="w-node-c72b8bf4-6639-8612-21d0-d8521c4d873f-907f05ca"
										href="https://www.youtube.com/@teachersbuddy" target="_blank"
										class="w-inline-block"><img
										src="https://cdn.prod.website-files.com/6535c13fdfd7d23795b06177/65a475cf7a94950c7e5b5e56_youtube.svg"
										loading="lazy" alt="" class="footer_icon"/></a></div>
								<div id="w-node-_8ef68b50-c468-023b-e46d-3d89907f05d2-907f05ca"
									 class="footer_links-wrapper">
									<a href="../terms-of-service.html" class="footer_link w-inline-block">
										<p>Terms of Service</p>
									</a>
									<a id="w-node-_8ef68b50-c468-023b-e46d-3d89907f05d6-907f05ca" href="../privacy-policy.html" class="footer_link w-inline-block">
										<p>Privacy Policy</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
