		<div data-animation="default" class="navbar1_component w-nav" data-easing2="ease"
			 fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium"
			 data-w-id="34403550-a37b-a594-5f67-01b97fae0f23" role="banner" data-duration="400" data-doc-height="1">
			<div data-w-id="55758b78-a235-7594-ab06-2609bf627e4b" class="tutorials_wrapper">
				<div class="tutorials_embed w-embed w-iframe">
					<iframe width="560" height="315"
							src="https://www.youtube.com/embed/videoseries?si=8F5st1YgN-sDREac&amp;list=PLvhWQVx-KvKWV0k9Oy6Pc_Id_J_OAAWEY"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
				</div>
			</div>
			<div class="navbar1_container"><a href="/" class="navbar1_logo-link w-nav-brand">
				<div class="logo_corner w-embed"><?xml version="1.0" encoding="UTF-8"?>
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
						 viewBox="0 0 286 196">
						<defs>
							<style>
								.logo_corner-cls-1 {
									fill: url(#linear-gradient-4);
								}

								.logo_corner-cls-1, .logo_corner-cls-2 {
									mix-blend-mode: multiply;
								}

								.logo_corner-cls-1, .logo_corner-cls-2, .logo_corner-cls-3, .logo_corner-cls-4, .logo_corner-cls-5, .svg-primary, .logo_corner-cls-7, .svg-dark, .logo_corner-cls-9, .logo_corner-cls-10 {
									stroke-width: 0px;
								}

								.logo_corner-cls-1, .logo_corner-cls-2, .logo_corner-cls-3, .logo_corner-cls-5 {
									opacity: .5;
								}

								.logo_corner-cls-1, .logo_corner-cls-2, .logo_corner-cls-3, .logo_corner-cls-5, .logo_corner-cls-11 {
									isolation: isolate;
								}

								.logo_corner-cls-2 {
									fill: url(#linear-gradient-3);
								}

								.logo_corner-cls-3 {
									fill: url(#linear-gradient);
								}

								.logo_corner-cls-4 {
									fill: #f5f5f5;
									opacity: .1;
								}

								.logo_corner-cls-5 {
									fill: url(#linear-gradient-2);
								}

								.logo_corner-svg-primary {
									fill: var(--primary);
								}

								.logo_corner-cls-7 {
									fill: #000;
								}

								.logo_corner-svg-dark {
									fill: var(--dark);
								}

								.logo_corner-cls-9 {
									fill: #114e77;
								}

								.logo_corner-cls-10 {
									fill: #f6f7f7;
								}
							</style>
							<linearGradient id="linear-gradient" x1="20.8" y1="56.2" x2="-1" y2="89.7"
											gradientUnits="userSpaceOnUse">
								<stop offset=".2" stop-color="#000"/>
								<stop offset=".5" stop-color="#fff"/>
							</linearGradient>
							<linearGradient id="linear-gradient-2" x1="25.3" y1="93.1" x2="-2.2" y2="133"
											gradientUnits="userSpaceOnUse">
								<stop offset=".2" stop-color="#000"/>
								<stop offset=".9" stop-color="#fff"/>
							</linearGradient>
							<linearGradient id="linear-gradient-3" x1="29" y1="169.8" x2="44.5" y2="169.8"
											gradientTransform="translate(52.7 340.2) rotate(-180)"
											gradientUnits="userSpaceOnUse">
								<stop offset=".1" stop-color="#000"/>
								<stop offset=".6" stop-color="#f5f5f5"/>
							</linearGradient>
							<linearGradient id="linear-gradient-4" x1="45.6" y1="15.4" x2="76.3" y2="33.6"
											gradientTransform="matrix(1,0,0,1,0,0)" xlink:href="#linear-gradient-3"/>
						</defs>
						<g class="logo_corner-cls-11">
							<g id="white">
								<g>
									<polygon class="logo_corner-cls-10" points="35 158 54 146 35 134 35 158"/>
									<polygon class="logo_corner-cls-10" points="209 19 209 45 230 32 209 19"/>
								</g>
							</g>
							<g id="black">
								<g>
									<polygon class="logo_corner-cls-7" points="104 0 104 29.3 138.7 7.8 138.7 0 104 0"/>
									<polygon class="logo_corner-cls-7" points="40 52.6 52 45.1 40 37.6 40 52.6"/>
								</g>
							</g>
							<g id="svg-primary">
								<g>
									<polygon class="logo_corner-svg-primary"
											 points="121 96.3 124.6 96.3 122.8 93.4 121 96.3"/>
									<polygon class="logo_corner-svg-primary"
											 points="153.3 60.9 155.1 58 151.5 58 153.3 60.9"/>
									<polygon class="logo_corner-svg-primary"
											 points="34.8 72.3 34.7 29.3 0 50.8 34.8 72.3"/>
									<polygon class="logo_corner-svg-primary"
											 points="0 136.6 34.8 158.1 34.7 115.2 0 136.6"/>
									<polygon class="logo_corner-svg-primary"
											 points="195.4 0 173.3 0 173.3 29.3 208 7.8 195.4 0"/>
									<polygon class="logo_corner-svg-primary"
											 points="34.7 0 34.7 29.3 69.4 50.8 69.4 7.8 69.4 0 56.8 0 34.7 0"/>
									<polygon class="logo_corner-svg-primary" points="38 116 53 106.5 38 97 38 116"/>
									<polygon class="logo_corner-svg-primary"
											 points="71 128.9 81.4 122.4 71 116 71 128.9"/>
									<polygon class="logo_corner-svg-primary" points="0 196 20 183.5 0 171 0 196"/>
									<polygon class="logo_corner-svg-primary"
											 points="173.1 62.3 194.7 48.9 173.1 35.5 173.1 62.3"/>
									<polygon class="logo_corner-svg-primary"
											 points="79.4 75.7 83 75.7 81.2 72.8 79.4 75.7"/>
								</g>
							</g>
							<g id="svg-dark">
								<g>
									<polygon class="logo_corner-svg-dark" points="156 26 156 40.9 168 33.4 156 26"/>
									<polygon class="logo_corner-svg-dark" points="138.7 0 138.7 7.8 151.3 0 138.7 0"/>
									<polygon class="logo_corner-svg-dark"
											 points="138.7 7.8 104 29.3 138.7 50.8 138.7 7.8"/>
									<polygon class="logo_corner-svg-dark" points="20 183 20 158 0 170.5 20 183"/>
									<polygon class="logo_corner-svg-dark"
											 points="115.8 86.2 112.7 80.9 108 80.9 113.6 90.2 113.6 96.7 117.8 96.7 117.8 90.2 123.4 80.9 118.8 80.9 115.8 86.2"/>
									<path class="logo_corner-svg-dark"
										  d="M104.7,81.9c-1.3-.7-2.7-1-4.4-1h-5.6v15.8h5.5c1.2,0,2.4-.2,3.4-.6,1.1-.4,2-.9,2.7-1.6.7-.7,1.3-1.5,1.7-2.5.4-.9.6-2,.6-3.2s-.3-2.9-1-4.1c-.7-1.2-1.6-2.1-2.9-2.8ZM104.1,90.5c-.2.5-.5,1-.9,1.3-.4.4-.8.6-1.3.8-.5,0-1.1.2-1.7.2h-1.3v-8h1.3c.8,0,1.6.1,2.2.4.7.3,1.1.7,1.5,1.3.3.6.5,1.3.5,2.2s-.1,1.3-.3,1.8Z"/>
									<path class="logo_corner-svg-dark"
										  d="M88.5,81.9c-1.3-.7-2.7-1-4.4-1h-5.6v15.8h5.5c1.2,0,2.4-.2,3.4-.6,1.1-.4,2-.9,2.7-1.6.7-.7,1.3-1.5,1.7-2.5.4-.9.6-2,.6-3.2s-.3-2.9-1-4.1c-.7-1.2-1.6-2.1-2.9-2.8ZM87.9,90.5c-.2.5-.5,1-.9,1.3-.4.4-.8.6-1.3.8-.5,0-1.1.2-1.7.2h-1.3v-8h1.3c.8,0,1.6.1,2.2.4.7.3,1.1.7,1.5,1.3.3.6.5,1.3.5,2.2s-.1,1.3-.3,1.8Z"/>
									<path class="logo_corner-svg-dark"
										  d="M71.2,90.2c0,1-.2,1.7-.7,2.2s-1.1.7-2,.7-1.5-.2-2-.7-.7-1.2-.7-2.2v-9.4h-4.2v9.2c0,1.4.3,2.6.8,3.6.5,1.1,1.3,1.9,2.3,2.5,1,.6,2.3.9,3.8.9s2.8-.3,3.8-.9c1-.6,1.8-1.5,2.3-2.5s.8-2.2.8-3.6v-9.2h-4.2v9.4Z"/>
									<path class="logo_corner-svg-dark"
										  d="M56.6,88c.4-.2.8-.5,1.1-.8.4-.3.6-.6.8-1s.3-.8.3-1.3c0-1.3-.5-2.3-1.5-3-1-.7-2.3-1-4-1h-6.4v15.8h6.5c1.2,0,2.3-.2,3.2-.6.9-.4,1.6-.9,2.1-1.6s.7-1.6.7-2.5-.3-1.8-.8-2.5-1.1-1.2-2-1.5ZM51.1,84h1.6c.7,0,1.2.1,1.5.4s.5.7.5,1.2,0,.6-.2.9-.4.5-.7.6c-.3,0-.6.2-1,.2h-1.7v-3.3ZM54.5,93.2c-.3.3-.9.5-1.6.5h-1.8v-3.6h2c.7,0,1.2.2,1.5.5s.5.7.5,1.3-.2,1-.6,1.3Z"/>
									<path class="logo_corner-svg-dark"
										  d="M160.9,63.2c.4-.1.8-.2,1.2-.2s1,0,1.5.2c.5,0,1,.3,1.4.5.5.2.8.5,1.1.8l2-3c-.7-.6-1.5-1.1-2.6-1.5-1.1-.3-2.3-.5-3.5-.5s-1.7.2-2.5.4c-.8.2-1.4.5-2,1-.6.5-1,1-1.3,1.6-.3.6-.5,1.3-.5,2,0,1.1.4,2.1,1.1,2.9.7.8,1.9,1.4,3.6,1.9l1.3.3c.9.2,1.5.5,1.8.7s.5.5.5.9-.3.7-.7.9c-.4.2-1,.3-1.7.3s-1.1-.1-1.7-.2c-.6,0-1.1-.4-1.7-.6-.6-.2-1-.5-1.3-.9l-2,3.1c.8.7,1.8,1.2,3,1.6,1.1.4,2.4.6,3.6.6s2.5-.2,3.6-.6c.9-.4,1.7-1,2.2-1.8.5-.8.8-1.7.8-2.7s-.4-2.1-1.1-2.8c-.7-.7-1.9-1.3-3.6-1.8l-1.3-.4c-.6-.2-1.1-.4-1.4-.5-.3-.1-.6-.2-.7-.4-.1-.2-.2-.4-.2-.6,0-.3,0-.5.3-.7s.5-.4.8-.5Z"/>
									<path class="logo_corner-svg-dark"
										  d="M148.9,68.3c.5-.4.9-.9,1.2-1.5.3-.6.4-1.2.4-2s-.2-1.9-.7-2.6c-.5-.8-1.2-1.3-2.1-1.7-.9-.4-2-.6-3.2-.6h-6.6v15.8h4.2v-5.6h1.1l3.3,5.6h4.9l-4.1-6.5c.6-.2,1.1-.5,1.6-.9ZM145.8,66.4c-.4.3-1,.4-1.7.4h-1.9v-3.4h2c.7,0,1.2,0,1.6.4.4.2.6.7.6,1.3s-.2,1-.6,1.3Z"/>
									<polygon class="logo_corner-svg-dark"
											 points="127.9 69.3 134 69.3 134 66 127.9 66 127.9 63.5 135.2 63.5 135.2 59.9 123.7 59.9 123.7 75.7 135.3 75.7 135.3 72.1 127.9 72.1 127.9 69.3"/>
									<polygon class="logo_corner-svg-dark"
											 points="120.6 75.7 120.6 59.9 116.4 59.9 116.4 65.6 110.6 65.6 110.6 59.9 106.4 59.9 106.4 75.7 110.6 75.7 110.6 69.4 116.4 69.4 116.4 75.7 120.6 75.7"/>
									<path class="logo_corner-svg-dark"
										  d="M102.1,75.5c1.1-.4,2-.9,2.7-1.4l-1.9-3.5c-.7.5-1.3.8-2,1-.6.2-1.3.3-2,.3-1,0-1.7-.2-2.4-.5-.6-.3-1.1-.8-1.5-1.4-.3-.6-.5-1.3-.5-2.2s0-1.2.3-1.7.4-.9.8-1.3c.4-.3.9-.6,1.4-.8s1.1-.3,1.8-.3,1.4,0,2,.3c.6.2,1.1.6,1.5,1l2.1-3.4c-.8-.7-1.6-1.2-2.5-1.5-.9-.3-2-.5-3.4-.5s-2.4.2-3.4.6c-1,.4-1.9,1-2.7,1.7-.8.7-1.4,1.6-1.8,2.6-.4,1-.6,2.1-.6,3.3,0,1.7.3,3.2,1,4.4.8,1.2,1.7,2.1,3,2.8s2.7,1,4.4,1,2.6-.2,3.7-.5Z"/>
									<polygon class="logo_corner-svg-dark"
											 points="86.3 75.7 91 75.7 81.2 59.9 71.4 75.7 76.1 75.7 81.2 67.5 86.3 75.7"/>
									<polygon class="logo_corner-svg-dark"
											 points="69.6 72.1 62.2 72.1 62.2 69.3 68.3 69.3 68.3 66 62.2 66 62.2 63.5 69.5 63.5 69.5 59.9 58 59.9 58 75.7 69.6 75.7 69.6 72.1"/>
									<polygon class="logo_corner-svg-dark"
											 points="47.2 75.7 51.4 75.7 51.4 63.7 55.6 63.7 55.6 59.9 43 59.9 43 63.7 47.2 63.7 47.2 75.7"/>
									<polygon class="logo_corner-svg-dark"
											 points="0 7.8 0 50.7 0 50.8 34.6 29.4 35.3 29.8 35.3 0 0 0 0 7.8"/>
									<polygon class="logo_corner-svg-dark" points="219.5 0 286.5 40.5 286.5 0 219.5 0"/>
									<polygon class="logo_corner-svg-dark"
											 points="0 136.6 6.5 132.7 34.8 115.2 0 93.7 0 136.6"/>
									<polygon class="logo_corner-svg-dark" points="69.4 0 69.4 7.8 82 0 69.4 0"/>
									<polygon class="logo_corner-svg-dark"
											 points="6.4 89.8 .1 93.6 9.8 99.6 34.8 115.1 34.8 72.2 34.7 72.2 6.4 89.8"/>
								</g>
							</g>
							<g id="alt">
								<path class="logo_corner-cls-4" d="M56.8,0l12.6,7.8h0V0h-12.6Z"/>
								<g>
									<polygon class="logo_corner-cls-9" points="69.4 0 69.4 7.8 82 0 69.4 0"/>
									<polygon class="logo_corner-cls-4"
											 points="0 7.8 0 7.8 0 50.7 0 50.8 34.7 29.3 0 7.8"/>
									<polygon class="logo_corner-cls-9" points="0 93.6 0 93.7 .1 93.6 0 93.6 0 93.6"/>
									<polygon class="logo_corner-cls-4"
											 points="6.4 89.8 .1 93.6 9.8 99.6 34.8 115.1 34.8 72.2 34.7 72.2 6.4 89.8"/>
								</g>
								<path class="logo_corner-cls-3" d="M0,93.7l6.4-3.9,28.3-17.5L0,50.8v42.9Z"/>
								<path class="logo_corner-cls-5" d="M.1,136.6l6.4-3.9,28.3-17.5L.1,93.7v42.9Z"/>
								<path class="logo_corner-cls-2" d="M20,158l-3.7,2.3L0,170.5l20,12.4v-24.9Z"/>
								<path class="logo_corner-cls-1" d="M35,29.5l34.4,21.3-.2-42.8-34.2,21.4Z"/>
							</g>
						</g>
					</svg>
				</div>
			</a>
				<nav role="navigation" class="navbar1_menu w-nav-menu">
					<div class="navbar1_link-wrapper">
						<a href="../vision.html" class="navbar1_link w-nav-link">Our Vision</a>
						<a href="#pricing" class="navbar1_link w-nav-link">Pricing</a>
						<a href="../blog.html" class="navbar1_link w-nav-link">blog</a>
						<a href="../faq.html" class="navbar1_link w-nav-link">FAQ</a>
						<a href="../tutorials.html" class="navbar1_link w-nav-link">Tutorials</a>
						<a href="/contact" class="navbar1_link w-nav-link">Contact </a>
						<div class="navbar1_menu-buttons">
							<a href="https://go.teachersbuddy.com/" class="button is-nav w-button">Sign Up</a>
							<a href="https://go.teachersbuddy.com/" class="button is-nav w-button">Login</a>
						</div>
					</div>
				</nav>
				<div class="navbar1_menu-button w-nav-button">
					<div class="menu-icon1">
						<div class="menu_icon-triangle"></div>
						<div class="menu-icon1_line-top"></div>
						<div class="menu-icon1_line-middle"></div>
						<div class="menu-icon1_line-bottom"></div>
					</div>
				</div>
			</div>
		</div>
